################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EasySoccerApi/v15/.suo
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/v15/Server/sqlite3
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/v15/.suo
/EasySoccer.WebApi/EasySoccer.WebApi/obj
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs
