################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EasySoccerApi/v15/.suo
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/v15/Server/sqlite3
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/v15/.suo
/EasySoccer.WebApi/EasySoccer.WebApi/obj
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs
/EasySoccer.WebApi/EasySoccer.Entities/obj
/EasySoccer.WebApi/EasySoccer.Entities/bin/Debug/netcoreapp2.0
/EasySoccer.WebApi/EasySoccer.DAL/bin/Debug/netcoreapp2.0
/EasySoccer.WebApi/EasySoccer.DAL/obj
/EasySoccer.WebApi/EasySoccer.DAL.Infra/obj
/EasySoccer.WebApi/EasySoccer.BLL/obj
/EasySoccer.WebApi/EasySoccer.BLL.Infra/obj
/EasySoccer.WebApi/EasySoccer.BLL/bin/Debug/netcoreapp2.0
/EasySoccer.WebApi/EasySoccer.BLL.Infra/bin/Debug/netcoreapp2.0
/EasySoccer.WebApi/EasySoccer.DAL.Infra/bin/Debug/netcoreapp2.0
/EasySoccer.WebApi/EasySoccer.WebApi/bin/Debug/netcoreapp2.0
/EasySoccer.WebApi/EasySoccer.WebApi/bin/Debug/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.BLL/bin/Debug/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.BLL.Infra/bin/Debug/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.DAL/bin/Debug/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.DAL.Infra/bin/Debug/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.Entities/bin/Debug/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.Entities/bin/Release/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.DAL.Infra/bin/Release/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.DAL/bin/Release/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.BLL.Infra/bin/Release/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.BLL/bin/Release/netcoreapp2.1
/EasySoccer.WebApi/EasySoccer.WebApi/bin/Release/netcoreapp2.2
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/DesignTimeBuild/.dtbcache
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/config
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/v16/Server/sqlite3
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/v16/.suo
/EasySoccer.WebApi/EasySoccer.BLL/bin/Debug/netcoreapp3.1
/EasySoccer.WebApi/EasySoccer.BLL.Infra/bin/Debug/netcoreapp3.1
/EasySoccer.WebApi/EasySoccer.DAL/bin/Debug/netcoreapp3.1
/EasySoccer.WebApi/EasySoccer.DAL.Infra/bin/Debug/netcoreapp3.1
/EasySoccer.WebApi/EasySoccer.Entities/bin/Debug/netcoreapp3.1
/EasySoccer.WebApi/.vs/EasySoccer.WebApi/DesignTimeBuild/.dtbcache.v2
/EasySoccer.WebApi/EasySoccer.WebJob/bin/Debug/netcoreapp3.1
/EasySoccer.WebApi/EasySoccer.WebJob/obj
